beautifulsoup4==4.9.3
calmjs==3.4.1
calmjs.parse==1.2.5
calmjs.types==1.0.1
deviantart @ git+https://github.com/phillmac/deviantart@c21ce195b466618ae16a9146412b3b713be71ef5
docker==5.0.0
docopt==0.6.2
easywebdav==1.2.0
lxml==4.6.5
MechanicalSoup==1.0.0
pluginbase==1.0.0
ply==3.11
portalocker==2.3.0
pybreaker==0.6.0
python-dateutil==2.7.5
sanction==0.4.1
selenium==3.141.0
soupsieve==2.2.1
websocket-client==1.1.0
